First colaboratory *notebook*

In [11]:
# return the average of 2 variables
# Begins with defining the function using def
def average(n1,n2):
    m = (n1 + n2) / 2
    return m

In [ ]:
# Use to input 
a = int(input("A = "))
b = int(input("B = "))

In [ ]:
avrg = average(a , b)
print(avrg)

# ***Use the library pandas to import data***

In [ ]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Landyz0o0o0o0\Desktop\mtcars.csv")
print(df)

# Basic calculations in Python

In [32]:
# convert a float variable to integer
a = 5.5
int(a)

5

In [33]:
# calculate the power
4**2

16

In [35]:
# find the modulus
5%2

1

In [37]:
# floor division
7//2

3